body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.category-label{
    margin: 2em 0;
    font-weight: bold;
}
